<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Booking Management</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li id="logout" style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a href="/admin/admin_landing">Admin Profile</a></li>
            <li style="float:right"><a class="active" href="/admin/admin_book">Admin Book</a></li>
            <li style="float:right"><a href="/admin/admin_users">Admin Users</a></li>
        </ul>
    </div>

    <div class="header"></div>

    <h1>Admin Booking Management Page</h1>

    <h2>All Bookings</h2>
    <table id="standard">
        <tr>
            <th>Booking Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Booking Status</th>
            <th>Duration (Hours)</th>
            <th>Booked User Id</th>
            <th>Booked User First Name </th>
            <th>Booked User Last Name</th>
            <th>Delete</th>
        </tr>
    
        <% data.forEach(function(row) { %>
            <tr>
                <td><%= row.booking_id %></td>
                <td><%= new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }).format(new Date(row.booking_date)) %></td>
                <td><%= new Intl.DateTimeFormat('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }).format(new Date('2023-01-01T' + row.booking_time)) %></td>
                <td><%= row.booking_status %></td>
                <td><%= row.booking_duration %></td>
                <td><%= row.booking_user_id %></td>
                <td><%= row.user_first_name %></td>
                <td><%= row.user_last_name %></td>
                <td>
                    <form action="/admin/delete-booking" method="post">
                        <input type="hidden" name="booking_id" value="<%= row.booking_id %>">
                        <button class="delete-button" data-booking-id="<%= row.booking_id %>">Delete</button>
                    </form>                
                </td>
            </tr>
        <% }); %>
    </table>

    <div class="forms-container">
        <div class="form-container">
            <h2>Edit a Booking</h2>
            <form action="/admin/edit-booking" method="post">
                <div class="container">
                    <label for="id"><b>Booking Id</b></label>
                    <input type="number" placeholder="Select the booking Id" name="booking_id" required>
            
            
                    <label for="date"><b>Date</b></label>
                     <input type="date" placeholder="Enter the Date" name="date" required>
            
                    <label for="time"><b>Time</b></label>
                    <input type="time" placeholder="Enter the Start Time" name="time" required>
                       
                    <label for="status"><b>Booking Status</b></label>
                    <select name="booking_status" required>
                        <option value="available">Available</option>
                        <option value="booked">Booked</option>
                        </select>
            
                        <label for="duration"><b>Duration</b></label>
                        <input type="number" placeholder="Enter duration" name="duration" required>
            
                        <button type="submit">Update Booking</button>
                    </div>
                </form> 
        </div>

        <div class="form-container">
            <h2>Make a New Booking</h2>
            <form action="/admin/admin_book" method="post">
                <div class="container">
                    <label for="date"><b>Date</b></label>
                    <input type="date" placeholder="Enter the Date" name="date" required>
        
                    <label for="time"><b>Time</b></label>
                    <input type="time" placeholder="Enter the Start Time" name="time" required>
        
                    <!-- Update the name attribute to match the server route -->
                    <label for="status"><b>Booking Status</b></label>
                    <select name="booking_status" required>
                        <option value="available">Available</option>
                        <option value="booked">Booked</option>
                    </select>
        
                    <label for="duration"><b>Duration</b></label>
                    <input type="number" placeholder="Enter duration" name="duration" required>
        
                    <button type="submit">Add Booking</button>
                </div>
            </form> 
        </div>
    </div>
</body>
</html>