<!DOCTYPE html>
<html>
<head>
    <title>Booking The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">

</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li id="logout" style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a class = "active" href="/user_book">Book</a></li>
            <li style="float:right"><a href="/user/user_landing">Profile</a></li>


        </ul>
    </div>

    
    <div class="header">
        <h1>Booking Page</h1>
    </div>
   



    <h2>Your Bookings</h2>
    <table id="standard">
        <tr>
            <th>Booking Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Cancel</th>
        </tr>
       <% userBookings.forEach(function(row) { %>
            <tr>
                <td><%= row.booking_id %></td>
                <td><%= new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }).format(new Date(row.booking_date)) %></td>
                <td><%= new Intl.DateTimeFormat('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }).format(new Date('2023-01-01T' + row.booking_time)) %></td>
                <td>
                    <form action="/user/cancel-booking" method="post">
                        <input type="hidden" name="booking_id" value="<%= row.booking_id %>">
                        <button class="delete-button" data-booking-id="<%= row.booking_id %>">Cancel</button>
                    </form>                
                </td>
            </tr>
        <% }); %>
    </table>


    <h2>Available Bookings</h2>
    
    <table id="standard">
        <tr>
            <th>Booking Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Book</th>
        </tr>
        <% availableBookings.forEach(function(row) { %>
            <tr>
                <td><%= row.booking_id %></td>
                <td><%= new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }).format(new Date(row.booking_date)) %></td>
                <td><%= new Intl.DateTimeFormat('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }).format(new Date('2023-01-01T' + row.booking_time)) %></td>
                <td>
                    <form action="/user/book_drone" method="post">
                        <input type="hidden" name="booking_id" value="<%= row.booking_id %>">
                        <button type="submit">Book</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>


</body>
</html>
